name: Build and Release

on:
  push:
    tags:
      - 'v[0-9]+.*'

permissions:
  contents: write

jobs:
  publish:
    name: Build and Release for ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            platform: linux-amd64
            extension: ""
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            platform: windows-amd64
            extension: ".exe"

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Cargo build ezz
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          args: --release --locked --bin ezz
          target: ${{ matrix.target }}
        env:
          EZZ_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version from tag
        id: get_version
        run: echo "version=${GITHUB_REF_NAME#v}" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Install CHANGELOG parser
        uses: taiki-e/install-action@parse-changelog

      - name: Get CHANGELOG entry
        run: parse-changelog CHANGELOG.md ${{ steps.get_version.outputs.version }} | tee changelog_entry
        shell: bash

      - name: Read changelog entry from file
        id: read_changelog
        uses: juliangruber/read-file-action@v1
        with:
          path: changelog_entry

      - name: Release ezz
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.target }}/release/ezz${{ matrix.extension }}
          asset_name: ezz-${{ steps.get_version.outputs.version }}-${{ matrix.platform }}${{ matrix.extension }}
          tag: ${{ github.ref_name }}
          body: ${{ steps.read_changelog.outputs.content }}
