name: Build and Release

on:
  push:
    tags:
      - 'v[0-9]+.*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            platform: linux-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            platform: windows-amd64

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Cargo build ezz
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          args: --release --locked --bin ezz
          target: ${{ matrix.target }}
        env:
          EZZ_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version from tag
        id: get_version
        run: echo "version=${GITHUB_REF_NAME#v}" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Package artifact
        shell: bash
        run: |
          extension=""
          if [ "${{ matrix.os}}" = "windows-latest" ]; then
            extension=".exe"
          fi
          mkdir -p artifacts
          mv target/${{ matrix.target }}/release/ezz${extension} artifacts/ezz-${{ steps.get_version.outputs.version }}-${{ matrix.platform }}${extension}

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ezz-binaries
          path: artifacts/*

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get version from tag
        id: get_version
        run: echo "version=${GITHUB_REF_NAME#v}" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Install CHANGELOG parser
        uses: taiki-e/install-action@parse-changelog

      - name: Get CHANGELOG entry
        run: parse-changelog CHANGELOG.md ${{ steps.get_version.outputs.version }} | tee changelog
        shell: bash

      - name: Read changelog entry from file
        id: read_changelog
        uses: juliangruber/read-file-action@v1
        with:
          path: changelog

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          name: ezz-binaries
          path: release-assets

      - name: Release ezz
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: release-assets/*
          file_glob: true
          tag: ${{ github.ref_name }}
          body: ${{ steps.read_changelog.outputs.content }}
